In [ ]:
### 给RDD增加Schema, RDD+Schema

In [11]:
from pyspark.sql import SparkSession
# Import data types
from pyspark.sql.types import *

In [2]:
# $example on:init_session$
# 所有的函数都是通过SparkSession来传递的。
spark = SparkSession.builder.appName("michael").config("spark.some.config.option", "some-value").getOrCreate()
# $example off:init_session$

In [3]:
# $example on:programmatic_schema$
sc = spark.sparkContext

In [4]:
# Load a text file and convert each line to a Row.
lines = sc.textFile("people.txt")
parts = lines.map(lambda l: l.split(","))
print(type(lines))
print(type(parts))

<class 'pyspark.rdd.RDD'>
<class 'pyspark.rdd.PipelinedRDD'>

In [8]:
# Each line is converted to a tuple.
people = parts.map(lambda p: (p[0].replace('"',''), p[1].strip()))
print(type(people))
people.collect()

<class 'pyspark.rdd.PipelinedRDD'>

[('Michael', '15'), ('Andy', '30'), ('Justin', '19')]

In [9]:
# The schema is encoded in a string.
schemaString = "name age"

In [12]:
fields = [StructField(field_name, StringType(), True) for field_name in schemaString.split()]
schema = StructType(fields)

In [13]:
schema

StructType(List(StructField(name,StringType,true),StructField(age,StringType,true)))

In [15]:
# Apply the schema to the RDD.
schemaPeople = spark.createDataFrame(people, schema)
print(type(schemaPeople))

<class 'pyspark.sql.dataframe.DataFrame'>

In [16]:
# Creates a temporary view using the DataFrame
schemaPeople.createOrReplaceTempView("people")

In [20]:
# SQL can be run over DataFrames that have been registered as a table.
results = spark.sql("SELECT * FROM people")
print(type(results))

<class 'pyspark.sql.dataframe.DataFrame'>

In [21]:
results.show(1)

+-------+---+
|   name|age|
+-------+---+
|Michael| 15|
+-------+---+
only showing top 1 row