# 这个Tutorial 读取文档到RDD, 经过转换， show

### 1.rdd 2种方法：
#### (1) sc.tesxtFile('people.txt')
#### (2) sc.parallelize('')

### 2. Transform
#### map等函数

### 3. 操作rdd
#### (1) collect()
#### (2)

### 4. RDD to DataFrame
#### (1) spark.createDataFrame(RDD or PipeLinedRDD)
#### Inferring the Schema Using Reflection(使用反射推断Schema)

### 5. DataFrame to RDD
#### (1) DataFrame.rdd.map(), 即可。

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [2]:
# $example on:init_session$
# 所有的函数都是通过SparkSession来传递的。
spark = SparkSession.builder.appName("michael").config("spark.some.config.option", "some-value").getOrCreate()
# $example off:init_session$

In [3]:
# $example on:schema_inferring$
sc = spark.sparkContext

In [4]:
# Load a text file and convert each line to a Row.
lines = sc.textFile("people.txt")
print(type(lines))

<class 'pyspark.rdd.RDD'>

In [5]:
parts = lines.map(lambda l: l.split(","))
print(type(parts))

<class 'pyspark.rdd.PipelinedRDD'>

In [6]:
lines.collect()

['"Michael",15', '"Andy",30', '"Justin",19']

In [7]:
parts.collect()

[['"Michael"', '15'], ['"Andy"', '30'], ['"Justin"', '19']]

In [8]:
people = parts.map(lambda p: Row(name=p[0].replace('"',''), age=int(p[1])))
print(type(people))

<class 'pyspark.rdd.PipelinedRDD'>

In [9]:
people.collect()

[Row(age=15, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [10]:
# Infer the schema, and register the DataFrame as a table.
schemaPeople = spark.createDataFrame(people)
schemaPeople.createOrReplaceTempView("people")
print(type(schemaPeople))

<class 'pyspark.sql.dataframe.DataFrame'>

In [11]:
schemaPeople.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [70]:
# SQL can be run over DataFrames that have been registered as a table.
teenagers = spark.sql("SELECT name FROM people WHERE age >= 13 AND age <= 19")
print(type(teenagers))

<class 'pyspark.sql.dataframe.DataFrame'>

In [69]:
# The results of SQL queries are Dataframe objects.
# rdd returns the content as an :class:`pyspark.RDD` of :class:`Row`.
teenNames = teenagers.rdd.map(lambda p: "Name: " + p.name).collect()
for name in teenNames:
    print(name)

Name: Michael
Name: Justin

In [ ]:
spark.stop()