In [1]:
from pyspark.sql import SparkSession, Row

In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
jdbcDF = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://www.parramountain.com:54360/questionnaire") \
    .option("dbtable", "gkxs_origin.c_shop") \
    .option("user", "postgres") \
    .option("password", "postgres") \
    .load()

In [4]:
print(type(jdbcDF))

<class 'pyspark.sql.dataframe.DataFrame'>

In [6]:
jdbcDF.show(2)

+----+-----------------------+--------------------------------+-------+-----------+
|city|              shop_name|                    shop_address|cmt_qty|dianping_id|
+----+-----------------------+--------------------------------+-------+-----------+
|上海|布列德  Bread Sociét...|         吴中路1666号W广场C栋1楼|  331条|       null|
|上海|   那不乐思比萨(宜山店)|凯旋路2561号(3号线宜山路站1号口)|  217条|   93187519|
+----+-----------------------+--------------------------------+-------+-----------+
only showing top 2 rows

In [7]:
jdbcDF2 = spark.read \
    .jdbc("jdbc:postgresql://www.parramountain.com:54360/questionnaire", "gkxs_origin.c_shop",
          properties={"user": "postgres", "password": "postgres"})

In [15]:
# Specifying dataframe column data types on read
jdbcDF3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://www.parramountain.com:54360/questionnaire") \
    .option("dbtable", "gkxs_origin.c_shop") \
    .option("user", "postgres") \
    .option("password", "postgres") \
    .option("customSchema", "city STRING, shop_name STRING, dianping_id float") \
    .load()\
    .select('city','shop_name','dianping_id')
print(jdbcDF3.printSchema)
jdbcDF3.show(2)

<bound method DataFrame.printSchema of DataFrame[city: string, shop_name: string, dianping_id: float]>
+----+-----------------------+-----------+
|city|              shop_name|dianping_id|
+----+-----------------------+-----------+
|上海|布列德  Bread Sociét...|       null|
|上海|   那不乐思比萨(宜山店)| 9.318752E7|
+----+-----------------------+-----------+
only showing top 2 rows

In [25]:
jdbcDF_new = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://www.parramountain.com:54360/questionnaire") \
    .option("dbtable", "gkxs_origin.tmp_20190717") \
    .option("user", "postgres") \
    .option("password", "postgres") \
    .load()
print(jdbcDF_new.show())
print(jdbcDF_new.printSchema)

+---+---------+
| id|city_name|
+---+---------+
|  1|     上海|
|  2|     深圳|
|  1|     上海|
|  2|     深圳|
+---+---------+

None
<bound method DataFrame.printSchema of DataFrame[id: int, city_name: string]>

In [30]:
# Saving data to a JDBC source
jdbcDF_new.write \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://www.parramountain.com:54360/questionnaire") \
    .option("dbtable", "gkxs_origin.tmp_20190718") \
    .option("user", "postgres") \
    .option("password", "postgres") \
    .mode('overwrite')\
    .save()
# 写入的时候， 列类型从varchar变为text, 可以用指定的方法指定varchar

In [32]:
jdbcDF_new.write \
    .jdbc("jdbc:postgresql://www.parramountain.com:54360/questionnaire", "gkxs_origin.tmp_20190718",
          properties={"user": "postgres", "password": "postgres"}, mode='append')

In [40]:
# Specifying create table column data types on write
jdbcDF_new.write \
    .option("createTableColumnTypes", "id float,city_name VARCHAR(1024)") \
    .jdbc("jdbc:postgresql://www.parramountain.com:54360/questionnaire", "gkxs_origin.tmp_20190719",
          properties={"user": "postgres", "password": "postgres"})