In [1]:
from pyspark.sql import SparkSession, Row

In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
sc = spark.sparkContext

In [7]:
path = "people.json"
peopleDF = spark.read.json(path)
print(type(peopleDF))
peopleDF.printSchema()
peopleDF.show()

<class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
# 创建临时表
peopleDF.createOrReplaceTempView("people")

In [8]:
teenagerNamesDF = spark.sql("SELECT name FROM people WHERE age BETWEEN 13 AND 19")
teenagerNamesDF.show()

+------+
|  name|
+------+
|Justin|
+------+

In [15]:
jsonStrings = ['{"name":"Yin","address":{"city":"Columbus","state":"Ohio"}}']
otherPeopleRDD = sc.parallelize(jsonStrings)
print(type(otherPeopleRDD))
otherPeople = spark.read.json(otherPeopleRDD)
print(type(otherPeople))
print(otherPeople.printSchema)
print(otherPeople.show())

<class 'pyspark.rdd.RDD'>
<class 'pyspark.sql.dataframe.DataFrame'>
<bound method DataFrame.printSchema of DataFrame[address: struct<city:string,state:string>, name: string]>
+----------------+----+
|         address|name|
+----------------+----+
|[Columbus, Ohio]| Yin|
+----------------+----+

None